.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: flex-end;
    gap: 15px;

  }
  .notifications{
    width: 50px;
    height: 50px;
    background-color: #E7F8FF;
display: flex;
justify-content: center;
    border-radius: 20%;
  }
   .user-icon {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #dde7eb;
    border-radius: 50%;

    justify-content: center;
  }
  
  .header .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    opacity: 0.8;
  }